<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.edu.baogia.introducefood">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name=".view.activity.MainActivity"-->
<!--            android:exported="true" />-->
        <activity
            android:name=".view.activity.EnterOTPActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.FoodActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.RePassWordActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.FogetActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.SearchMainActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.SimpleScannerActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.HoSoView"
            android:exported="true" />
        <activity
            android:name=".view.activity.DanhMucMonAnView"
            android:exported="true" />
    </application>

</manifest>